* {
    margin: 0!important;
    padding: 0!important;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: rgb(240, 240, 240);
}

.contacts-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
}

.contact-card {
    display: flex;
    flex-direction: column;
    gap: 6px;

    background-color: #fff;

    border: 1px solid gray;
    border-radius: 4px;
}

.contact-card img {
    width: 400px;
}

.contact-card h2,
.contact-card p {
    padding: 0 10px!important;
}